.carousel-item img{
width: 100%;
height: 80vh;
}

.img-thumbnail{
    height: 570px;
}

.card-body img{
    min-width: 50px;
    max-height: 200px;
}

.img-thumbnail {
    height: 300px;
}